<!-- About Area Start -->
<div id="about">
  <div class="container">
    <!-- Section Title Start -->
    <div class="section--title">
      <h2>{{ translations[locale].about.title | safe }}</h2>
    </div>
    <!-- Section Title End -->

    <div class="row">
      <div class="col-md-6">
        <h3>{{ translations[locale].about.who_am_i | safe }}</h3>
        
        <p>{{ translations[locale].about.paragraphs.first }}</p>
        <p>{{ translations[locale].about.paragraphs.second }}</p>
        <p>{{ translations[locale].about.paragraphs.third }}</p>

        <a href="{{ translations[locale].about.cv_url }}" class="btn btn--primary" download>{{ translations[locale].about.download_cv }}</a>
      </div>

      <div class="col-md-6">
        <h3>{{ translations[locale].about.technologies | safe }}</h3>
        
        <p>{{ translations[locale].about.technologies_desc | safe }}</p>

        <!-- About Progrees Items Start -->
        <div class="about--progress-items">
          <!-- About Progrees Bar Start -->
          <h4>Sketch</h4>
          <div class="progress">
            <div class="progress-bar" data-progress="90">
              <span>90%</span>
            </div>
          </div>
          <!-- About Progrees Bar End -->

          <!-- About Progrees Bar Start -->
          <h4>Figma</h4>
          <div class="progress">
            <div class="progress-bar" data-progress="90">
              <span>90%</span>
            </div>
          </div>
          <!-- About Progrees Bar End -->

          <!-- About Progrees Bar Start -->
          <h4>ProtoPie</h4>
          <div class="progress">
            <div class="progress-bar" data-progress="70">
              <span>70%</span>
            </div>
          </div>
          <!-- About Progrees Bar End -->

          <!-- About Progrees Bar Start -->
          <h4>After Effect</h4>
          <div class="progress">
            <div class="progress-bar" data-progress="70">
              <span>70%</span>
            </div>
          </div>
          <!-- About Progrees Bar End -->
          
          <!-- About Progrees Bar Start -->
          <h4>Final Cut Pro</h4>
          <div class="progress">
            <div class="progress-bar" data-progress="70">
              <span>70%</span>
            </div>
          </div>
          <!-- About Progrees Bar End -->
          
          <!-- About Progrees Bar Start -->
          <h4>HTML</h4>
          <div class="progress">
            <div class="progress-bar" data-progress="80">
              <span>80%</span>
            </div>
          </div>
          <!-- About Progrees Bar End -->
          
          <!-- About Progrees Bar Start -->
          <h4>CSS(SASS)</h4>
          <div class="progress">
            <div class="progress-bar" data-progress="70">
              <span>70%</span>
            </div>
          </div>
          <!-- About Progrees Bar End -->
          
          <!-- About Progrees Bar Start -->
          <h4>JavaScript</h4>
          <div class="progress">
            <div class="progress-bar" data-progress="60">
              <span>60%</span>
            </div>
          </div>
          <!-- About Progrees Bar End -->
          
          <!-- About Progrees Bar Start -->
          <h4>ReactJS</h4>
          <div class="progress">
            <div class="progress-bar" data-progress="50">
              <span>50%</span>
            </div>
          </div>
          <!-- About Progrees Bar End -->
        </div>
        <!-- About Progrees Items End -->
      </div>
    </div>

    <!-- About Info Start -->
    <div class="about--info">
      <div class="row">
        <div class="col-md-6">
          <div class="about--info-wrapper">
            <h3>{{ translations[locale].cv_sections.education | safe }}</h3>

            {% for education in translations[locale].education %}
            <!-- About Info Item Start -->
            <div class="about--info-item">
              <div class="row reset-gutter">
                <div class="col-xs-4">
                  <p>{{ education.date }}</p>
                  <h5><strong>{{ education.institution }}</strong></h5>
                </div>

                <div class="col-xs-8 about--info-border">
                  <h4>{{ education.title | safe }}</h4>
                  <p>{{ education.description }}</p>
                </div>
              </div>
            </div>
            <!-- About Info Item End -->
            {% endfor %}
          </div>
        </div>

        <div class="col-md-6">
          <div class="about--info-wrapper">
            <h3>{{ translations[locale].cv_sections.experience | safe }}</h3>

            {% for experience in translations[locale].experience %}
            <!-- About Info Item Start -->
            <div class="about--info-item">
              <div class="row reset-gutter">
                <div class="col-xs-4">
                  <p>{{ experience.date }}</p>
                  <h5><strong>{{ experience.company }}</strong></h5>
                </div>

                <div class="col-xs-8 about--info-border">
                  <h4>{{ experience.title | safe }}</h4>
                  <p>{{ experience.description }}</p>
                </div>
              </div>
            </div>
            <!-- About Info Item End -->
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!-- About Info End -->
  </div>
</div>
<!-- About Area End -->