<!-- Banner Area Start -->
<div id="banner" class="bg--overlay" data-parallax-bg-img="/assets/img/banner-img/bg.webp" style="background-image: url('/assets/img/banner-img/bg.webp');">
  <div class="container">
    <div class="vc--parent">
      <div class="vc--child">
        <!-- Banner Content Start -->
        <div class="banner--content">
          <h1>{{ translations[locale].banner.title | safe }}</h1>
          <p>{{ translations[locale].banner.description | safe }}</p>
          <a href="#contact" class="btn btn--primary AnimateScrollLink">
            {{ translations[locale].banner.button }}
          </a>
        </div>
        <!-- Banner Content End -->
      </div>
    </div>
  </div>
</div>
<!-- Banner Area End -->