<!-- Brands Area Start -->
<div id="brands" class="bg--overlay" data-parallax-bg-img="/assets/img/brands-img/bg.webp">
  <div class="container">
    <!-- Brands Slider Start -->
    <div class="brands-carousel-container">
      <button class="carousel-button prev-button" aria-label="Anterior"><i class="fa fa-chevron-left"></i></button>
      
      <div class="brands-carousel">
        <div class="brands-track">
          <div class="brand-item">
            <img src="/assets/img/brands-img/01.webp" alt="Cliente 1" class="brand-image">
          </div>
          <div class="brand-item">
            <img src="/assets/img/brands-img/02.webp" alt="Cliente 2" class="brand-image">
          </div>
          <div class="brand-item">
            <img src="/assets/img/brands-img/03.webp" alt="Cliente 3" class="brand-image">
          </div>
          <div class="brand-item">
            <img src="/assets/img/brands-img/04.webp" alt="Cliente 4" class="brand-image">
          </div>
          <div class="brand-item">
            <img src="/assets/img/brands-img/05.webp" alt="Cliente 5" class="brand-image">
          </div>
          <div class="brand-item">
            <img src="/assets/img/brands-img/06.webp" alt="Cliente 6" class="brand-image">
          </div>
          <div class="brand-item">
            <img src="/assets/img/brands-img/07.webp" alt="Cliente 7" class="brand-image">
          </div>
        </div>
      </div>
      
      <button class="carousel-button next-button" aria-label="Siguiente"><i class="fa fa-chevron-right"></i></button>
    </div>
    <!-- Brands Slider End -->
  </div>
</div>
<!-- Brands Area End -->