<!-- Breadcrumb Component Start -->
<div class="case-study-breadcrumb">
  <div class="container">
    <ul class="breadcrumb">
      <li>
        <a href="{{ site.baseUrl }}{{ locale }}">
          <i class="fas fa-home"></i>
          <span>{{ translations[locale].case_studies.navigation.home }}</span>
        </a>
      </li>
      <li>
        <a href="{{ site.baseUrl }}{{ locale }}#gallery">
          <i class="fas fa-th"></i>
          <span>{{ translations[locale].portfolio.title }}</span>
        </a>
      </li>
      <li>
        <span>{{ title }}</span>
      </li>
    </ul>
  </div>
</div>
<!-- Breadcrumb Component End -->