<!-- Case Study Banner Area Start -->
<div id="case-study-banner" class="bg--overlay" data-parallax-bg-img="{{ site.baseUrl }}assets/img/banner-img/case-study-bg.webp" style="background-image: url('{{ site.baseUrl }}assets/img/banner-img/case-study-bg.webp');">
  <div class="container">
    <div class="vc--parent">
      <div class="vc--child">
        <!-- Banner Content Start -->
        <div class="banner--content case-study-banner--content">
          <h1>{{ title }}</h1>
          <p>{{ categories }}</p>
        </div>
        <!-- Banner Content End -->
      </div>
    </div>
  </div>
</div>
<!-- Case Study Banner Area End -->