<!-- Counter Area Start -->
<div id="counter" class="bg--overlay" data-parallax-bg-img="/assets/img/counter-img/bg.webp">
  <div class="container">
    <div class="row">
      <!-- Counter Item Start -->
      <div class="col-md-3 col-sm-6 counter--item">
        <div class="counter--num">
          <i class="fa fa-check"></i>
          <span class="CounterUp">87</span>
        </div>
        <div class="counter--text">
          {{ translations[locale].counter.projects | safe }}
        </div>
      </div>
      <!-- Counter Item End -->

      <!-- Counter Item Start -->
      <div class="col-md-3 col-sm-6 counter--item">
        <div class="counter--num">
          <i class="fa fa-heart"></i>
          <span class="CounterUp">35</span>
        </div>
        <div class="counter--text">
          {{ translations[locale].counter.clients | safe }}
        </div>
      </div>
      <!-- Counter Item End -->

      <!-- Counter Item Start -->
      <div class="col-md-3 col-sm-6 counter--item">
        <div class="counter--num">
          <i class="fa fa-code"></i>
          <span class="CounterUp">98</span>K
        </div>
        <div class="counter--text">
          {{ translations[locale].counter.lines | safe }}
        </div>
      </div>
      <!-- Counter Item End -->

      <!-- Counter Item Start -->
      <div class="col-md-3 col-sm-6 counter--item">
        <div class="counter--num">
          <i class="fa fa-coffee"></i>
          <span class="CounterUp">78</span>K
        </div>
        <div class="counter--text">
          {{ translations[locale].counter.cups | safe }}
        </div>
      </div>
      <!-- Counter Item End -->
    </div>
  </div>
</div>
<!-- Counter Area End -->