<!-- Footer Area Start -->
<div id="footer">
  <div class="container">
    <!-- Footer Copyright Start -->
    <div class="footer--copyright">
      <p>
        {{ translations.footer.copyright | default('Copyright &copy; 2025 <a href="/">Félix Rivas</a>. Todos los Derechos Reservados.') | safe }}
      </p>
    </div>
    <!-- Footer Copyright End -->
  </div>
</div>
<!-- Footer Area End -->