<div class="language-selector">
  <div class="language-selector__toggle" id="langToggle">
    <i class="fa-solid fa-globe"></i>
  </div>
  <div class="language-selector__dropdown" id="langDropdown">
    <a href="{{ site.baseUrl }}es/" class="{% if locale == 'es' %}active{% endif %}">
      <span class="flag flag--es"></span>Español
    </a>
    <a href="{{ site.baseUrl }}en/" class="{% if locale == 'en' %}active{% endif %}">
      <span class="flag flag--en"></span>English
    </a>
  </div>
  
  <!-- Botón de cambio de tema junto al selector de idioma -->
  <div class="theme-toggle in-language-selector" id="themeToggle">
    <i class="fa-solid fa-moon"></i>
    <i class="fa-solid fa-sun"></i>
  </div>
</div>