<!-- Gallery Area Start -->
<div id="gallery">
  <div class="container">
    <!-- Section Title Start -->
    <div class="section--title">
      <h2>{{ translations[locale].portfolio.title | safe }}</h2>
    </div>
    <!-- Section Title End -->

    <!-- Gallery Filter Menu Start -->
    <div class="gallery-filter-menu">
      <ul>
        <li class="active">
          <a href="*" class="btn--default">{{ translations[locale].portfolio.all }}</a>
        </li>
        <li>
          <a href="mobile-app" class="btn--default">{{ translations[locale].portfolio.mobile_app }}</a>
        </li>
        <li>
          <a href="web-app" class="btn--default">{{ translations[locale].portfolio.web_app }}</a>
        </li>
        <li>
          <a href="web-design" class="btn--default">{{ translations[locale].portfolio.web_design }}</a>
        </li>
      </ul>
    </div>
    <!-- Gallery Filter Menu End -->

    <!-- Gallery Items Start -->
    <div class="portfolio-grid">
      <!-- Gallery Item Start - IntelliResearch -->
      <a href="{{ site.baseUrl }}{{ locale }}/case-studies/intelliresearch/" class="gallery-item-link">
        <div class="gallery-item web-app" data-cat="web-app">
          <img src="{{ site.baseUrl }}assets/img/gallery-img/intelliresearch/cover-intelliresearch.webp" alt="{{ translations[locale].portfolio.projects.intelliresearch.title }}" />
          <span class="gallery--case-study">{{ translations[locale].portfolio.case_study }}</span>
          <div class="gallery-overlay">
            <div class="overlay-content">
              <h2>{{ translations[locale].portfolio.projects.intelliresearch.title }}</h2>
              <span class="btn">{{ translations[locale].portfolio.view_project }}</span>
            </div>
          </div>
        </div>
      </a>
      <!-- Gallery Item End -->

      <!-- Gallery Item Start - Radio DAO -->
      <a href="{{ site.baseUrl }}{{ locale }}/case-studies/radio-dao/" class="gallery-item-link">
        <div class="gallery-item mobile-app" data-cat="mobile-app">
          <img src="{{ site.baseUrl }}assets/img/gallery-img/radio-dao/cover-radio-dao.webp" alt="{{ translations[locale].portfolio.projects.radio_dao.title }}" />
          <span class="gallery--case-study">{{ translations[locale].portfolio.case_study }}</span>
          <div class="gallery-overlay">
            <div class="overlay-content">
              <h2>{{ translations[locale].portfolio.projects.radio_dao.title }}</h2>
              <span class="btn">{{ translations[locale].portfolio.view_project }}</span>
            </div>
          </div>
        </div>
      </a>
      <!-- Gallery Item End -->

      <!-- Gallery Item Start - Wallet -->
      <a href="{{ site.baseUrl }}{{ locale }}/case-studies/wallet/" class="gallery-item-link">
        <div class="gallery-item mobile-app" data-cat="mobile-app">
          <img src="{{ site.baseUrl }}assets/img/gallery-img/wallet/cover-wallet.webp" alt="{{ translations[locale].portfolio.projects.wallet.title }}" />
          <span class="gallery--case-study">{{ translations[locale].portfolio.case_study }}</span>
          <div class="gallery-overlay">
            <div class="overlay-content">
              <h2>{{ translations[locale].portfolio.projects.wallet.title }}</h2>
              <span class="btn">{{ translations[locale].portfolio.view_project }}</span>
            </div>
          </div>
        </div>
      </a>
      <!-- Gallery Item End -->

      <!-- Gallery Item Start - Factoring -->
      <a href="{{ site.baseUrl }}{{ locale }}/case-studies/factoring/" class="gallery-item-link">
        <div class="gallery-item web-app" data-cat="web-app">
          <img src="{{ site.baseUrl }}assets/img/gallery-img/factoring/cover-factoring.webp" alt="{{ translations[locale].portfolio.projects.factoring.title }}" />
          <span class="gallery--case-study">{{ translations[locale].portfolio.case_study }}</span>
          <div class="gallery-overlay">
            <div class="overlay-content">
              <h2>{{ translations[locale].portfolio.projects.factoring.title }}</h2>
              <span class="btn">{{ translations[locale].portfolio.view_project }}</span>
            </div>
          </div>
        </div>
      </a>
      <!-- Gallery Item End -->

      <!-- Gallery Item Start - Nomadix -->
      <a href="{{ site.baseUrl }}{{ locale }}/case-studies/nomadix/" class="gallery-item-link">
        <div class="gallery-item web-design" data-cat="web-design">
          <img src="{{ site.baseUrl }}assets/img/gallery-img/nomadix/cover-nomadix.webp" alt="{{ translations[locale].portfolio.projects.nomadix.title }}" />
          <span class="gallery--case-study">{{ translations[locale].portfolio.web_design }}</span>
          <div class="gallery-overlay">
            <div class="overlay-content">
              <h2>{{ translations[locale].portfolio.projects.nomadix.title }}</h2>
              <span class="btn">{{ translations[locale].portfolio.view_project }}</span>
            </div>
          </div>
        </div>
      </a>
      <!-- Gallery Item End -->
      
      <!-- Gallery Item Start - JourneyLaw -->
      <a href="{{ site.baseUrl }}{{ locale }}/case-studies/journeylaw/" class="gallery-item-link">
        <div class="gallery-item web-app" data-cat="web-app">
          <img src="{{ site.baseUrl }}assets/img/gallery-img/journeylaw/cover-journeylaw.webp" alt="{{ translations[locale].portfolio.projects.journeylaw.title }}" />
          <span class="gallery--case-study">{{ translations[locale].portfolio.case_study }}</span>
          <div class="gallery-overlay">
            <div class="overlay-content">
              <h2>{{ translations[locale].portfolio.projects.journeylaw.title }}</h2>
              <span class="btn">{{ translations[locale].portfolio.view_project }}</span>
            </div>
          </div>
        </div>
      </a>
      <!-- Gallery Item End -->
    </div>
    <!-- Gallery Items End -->
  </div>
</div>
<!-- Gallery Area End -->