<!-- Services Area Start -->
<div id="services" class="bg--overlay" data-parallax-bg-img="/assets/img/services-img/bg.webp" style="background-image: url('/assets/img/services-img/bg.webp');">
  <div class="container">
    <!-- Section Title Start -->
    <div class="section--title">
      <h2><strong>{{ translations[locale].services.title }}</strong></h2>
    </div>
    <!-- Section Title End -->
    <div class="row row-eq-height">
      <!-- Service Item Start -->
      <div class="col-md-4 col-sm-6 service--item">
        <div class="service--icon">
          <i class="fa-solid fa-code"></i>
        </div>
        <div class="service--content">
          <h2>{{ translations[locale].services.web_design.title | safe }}</h2>
          <p>{{ translations[locale].services.web_design.description }}</p>
        </div>
      </div>
      <!-- Service Item End -->

      <!-- Service Item Start -->
      <div class="col-md-4 col-sm-6 service--item">
        <div class="service--icon">
          <i class="fa-solid fa-diagram-project"></i>
        </div>
        <div class="service--content">
          <h2>{{ translations[locale].services.flow.title | safe }}</h2>
          <p>{{ translations[locale].services.flow.description }}</p>
        </div>
      </div>
      <!-- Service Item End -->

      <!-- Service Item Start -->
      <div class="col-md-4 col-sm-6 service--item">
        <div class="service--icon">
          <i class="fa-solid fa-palette"></i>
        </div>
        <div class="service--content">
          <h2>{{ translations[locale].services.visual.title | safe }}</h2>
          <p>{{ translations[locale].services.visual.description }}</p>
        </div>
      </div>
      <!-- Service Item End -->

      <!-- Service Item Start -->
      <div class="col-md-4 col-sm-6 service--item">
        <div class="service--icon">
          <i class="fa-solid fa-mobile-screen-button"></i>
        </div>
        <div class="service--content">
          <h2>{{ translations[locale].services.mobile.title | safe }}</h2>
          <p>{{ translations[locale].services.mobile.description }}</p>
        </div>
      </div>
      <!-- Service Item End -->

      <!-- Service Item Start -->
      <div class="col-md-4 col-sm-6 service--item">
        <div class="service--icon">
          <i class="fa-solid fa-wand-magic-sparkles"></i>
        </div>
        <div class="service--content">
          <h2>{{ translations[locale].services.ux_ui.title | safe }}</h2>
          <p>{{ translations[locale].services.ux_ui.description }}</p>
        </div>
      </div>
      <!-- Service Item End -->
    </div>
  </div>
</div>
<!-- Services Area End -->