<!-- Services Area Start -->
<div id="services" class="bg--overlay" data-parallax-bg-img="/assets/img/services-img/bg.webp" style="background-image: url('/assets/img/services-img/bg.webp');">
  <div class="container">
    <!-- Section Title Start -->
    <div class="section--title">
      <h2>{{ translations[locale].services.title | safe }}</h2>
    </div>
    <!-- Section Title End -->
    
    <!-- Services Cards Container -->
    <div class="services-grid">
      <!-- Service Item Start -->
      <div class="service--item">
        <div class="service--icon">
          <i class="fa fa-laptop"></i>
        </div>
        <div class="service--content">
          <h2>{{ translations[locale].services.web_design.title | safe }}</h2>
          <p>{{ translations[locale].services.web_design.description }}</p>
        </div>
      </div>
      <!-- Service Item End -->

      <!-- Service Item Start -->
      <div class="service--item">
        <div class="service--icon">
          <i class="fa fa-object-group"></i>
        </div>
        <div class="service--content">
          <h2>{{ translations[locale].services.flow.title | safe }}</h2>
          <p>{{ translations[locale].services.flow.description }}</p>
        </div>
      </div>
      <!-- Service Item End -->

      <!-- Service Item Start -->
      <div class="service--item">
        <div class="service--icon">
          <i class="fa fa-paint-brush"></i>
        </div>
        <div class="service--content">
          <h2>{{ translations[locale].services.visual.title | safe }}</h2>
          <p>{{ translations[locale].services.visual.description }}</p>
        </div>
      </div>
      <!-- Service Item End -->

      <!-- Service Item Start -->
      <div class="service--item">
        <div class="service--icon">
          <i class="fa fa-mobile"></i>
        </div>
        <div class="service--content">
          <h2>{{ translations[locale].services.mobile.title | safe }}</h2>
          <p>{{ translations[locale].services.mobile.description }}</p>
        </div>
      </div>
      <!-- Service Item End -->

      <!-- Service Item Start -->
      <div class="service--item">
        <div class="service--icon">
          <i class="fa fa-clone"></i>
        </div>
        <div class="service--content">
          <h2>{{ translations[locale].services.ux_ui.title | safe }}</h2>
          <p>{{ translations[locale].services.ux_ui.description }}</p>
        </div>
      </div>
      <!-- Service Item End -->
    </div>
    <!-- Services Cards Container End -->
    
  </div>
</div>
<!-- Services Area End -->