<!DOCTYPE html>
<html lang="{{ locale | default('es') }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  
  <title>{{ title | default('Félix Rivas UX/UI Designer') }}</title>
  
  <meta name="description" content="{{ description | default('Diseñador UX/UI con más de 12 años de experiencia en interfaces digitales y experiencia de usuario para aplicaciones móviles y web') }}">
  <meta name="author" content="Félix Rivas">

  <!-- Precargar fuentes críticas para mejorar LCP y evitar Layout Shift -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Raleway:300,500,700,800&display=swap" as="style">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,500,700,800&display=swap" rel="stylesheet">
  
  <!-- Precargar CSS crítico para evitar render-blocking -->
  <link rel="preload" href="{{ site.baseUrl }}assets/css/main.css" as="style">
  <link href="{{ site.baseUrl }}assets/css/main.css" rel="stylesheet">
  
  <!-- Font Awesome - Con preload para íconos críticos -->
  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/webfonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <!-- Favicons -->
  <link rel="shortcut icon" href="{{ site.baseUrl }}assets/img/favicon.png" type="image/x-icon">
  <link rel="icon" href="{{ site.baseUrl }}assets/img/favicon.png" type="image/x-icon">
  
  <!-- Meta para SEO y redes sociales -->
  <meta property="og:title" content="{{ title | default('Félix Rivas UX/UI Designer') }}">
  <meta property="og:description" content="{{ description | default('Diseñador UX/UI con más de 12 años de experiencia en interfaces digitales y experiencia de usuario para aplicaciones móviles y web') }}">
  <meta property="og:image" content="{{ ogImage | default(site.baseUrl + 'assets/img/felix-rivas-og-image.jpg') }}">
  <meta property="og:url" content="{{ site.url }}{{ site.baseUrl }}{{ page.url }}">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ title | default('Félix Rivas UX/UI Designer') }}">
  <meta name="twitter:description" content="{{ description | default('Diseñador UX/UI con más de 12 años de experiencia en interfaces digitales y experiencia de usuario para aplicaciones móviles y web') }}">
  <meta name="twitter:image" content="{{ ogImage | default(site.baseUrl + 'assets/img/felix-rivas-og-image.jpg') }}">
  
  <!-- Añadir Schema.org para mejor SEO -->
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "Félix Rivas",
      "url": "{{ site.url }}{{ site.baseUrl }}",
      "image": "{{ site.url }}{{ site.baseUrl }}assets/img/felix-rivas-og-image.jpg",
      "jobTitle": "UX/UI Designer",
      "worksFor": {
        "@type": "Organization",
        "name": "Freelance"
      },
      "sameAs": [
        "https://www.linkedin.com/in/rivasfelix/"
      ]
    }
  </script>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="100" class="{{ bodyClass | default('') }}">
  <!-- Wrapper Start -->
  <div class="wrapper">
    <!-- Preloader Start -->
    <div id="preloader">
      <div class="preloader--bounce">
        <div class="preloader-bouncer--1"></div>
        <div class="preloader-bouncer--2"></div>
      </div>
    </div>
    <!-- Preloader End -->

    {% include "components/language-selector.njk" %}
    
    {% include "components/header.njk" %}
    
    {{ content | safe }}

    {% include "components/footer.njk" %}

    <!-- Back To Top Area Start -->
    <div id="backToTop">
      <a href="#header" class="btn--default"><i class="fa fa-angle-up"></i></a>
    </div>
    <!-- Back To Top Area End -->
  </div>
  <!-- Wrapper End -->

  <!-- Hire Me Modal -->
  {% include "components/hire-modal.njk" %}
  
  <!-- Modern JavaScript -->
  <script src="{{ site.baseUrl }}assets/js/main.js" type="module"></script>
</body>
</html>