---
layout: layouts/base.njk
title: Félix Rivas - UX/UI Designer
description: Portfolio of Félix Rivas, UX/UI Designer with over 12 years of experience
locale: en
---

{% include "components/banner.njk" %}
{% include "components/about.njk" %}
{% include "components/services.njk" %}
{% include "components/portfolio.njk" %}
{% include "components/testimonials.njk" %}
{% include "components/counter.njk" %}
{% include "components/contact.njk" %}
{% include "components/hire-modal.njk" %}