---
layout: layouts/base.njk
title: Félix Rivas - Diseñador UX/UI
description: Portafolio de Félix Rivas, Diseñador UX/UI con más de 12 años de experiencia
locale: es
---

{% include "components/banner.njk" %}
{% include "components/about.njk" %}
{% include "components/services.njk" %}
{% include "components/portfolio.njk" %}
{% include "components/testimonials.njk" %}
{% include "components/counter.njk" %}
{% include "components/contact.njk" %}
{% include "components/brands.njk" %}