---
layout: layouts/case-study.njk
title: JourneyLaw - Transforming Legal Management with User-Centered UX Design
categories: "#UX Design #UI Design #Legal Tech #Frontend Development #SaaS Platform"
locale: en
projectKey: journeylaw
---
<!-- El contenido se carga desde los archivos de traducción -->
  
