---
layout: layouts/case-study.njk
title: "Radio Barrio Centenario"
categories: "#Mobile App #Community #Web3"
locale: en
projectKey: radio_dao
---
<!-- Content loaded from translation files -->

{% set galleryImages = [
  { src: "radio_dao-mockup-1.png", alt: "Radio DAO App Mockup 1" },
  { src: "radio_dao-mockup-2.png", alt: "Radio DAO App Mockup 2" },
  { src: "radio_dao-mockup-3.png", alt: "Radio DAO App Mockup 3" },
  { src: "radio_dao-mockup-4.png", alt: "Radio DAO App Mockup 4" },
  { src: "radio_dao-mockup-5.png", alt: "Radio DAO App Mockup 5" },
  { src: "radio_dao-mockup-6.png", alt: "Radio DAO App Mockup 6" },
  { src: "radio_dao-mockup-7.png", alt: "Radio DAO App Mockup 7" }
] %}
{% include "components/case-studies/prototype-gallery.njk" %}
