---
permalink: /index.html
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="0;url={{ site.baseUrl }}es/">
  <title>Redirecting...</title>
  <script>
    // Detectar el idioma preferido del navegador
    (function() {
      var language = navigator.language || navigator.userLanguage;
      // Ruta base para GitHub Pages
      var baseUrl = "{{ site.baseUrl }}";
      
      if (language) {
        language = language.split('-')[0].toLowerCase();
        if (language === 'en') {
          window.location.replace(baseUrl + 'en/');
        } else {
          window.location.replace(baseUrl + 'es/'); // Predeterminado a español si no es inglés
        }
      }
    })();
  </script>
</head>
<body>
  <p>Redirecting to <a href="{{ site.baseUrl }}es/">Spanish version</a>...</p>
</body>
</html>