---
layout: layouts/case-study.njk
title: JourneyLaw - Transformando la Gestión Legal con Diseño UX Centrado en el Usuario
categories: "#Diseño UX #Diseño UI #Legal Tech #Desarrollo Frontend #Plataforma SaaS"
locale: es
projectKey: journeylaw
---
<!-- El contenido se carga desde los archivos de traducción -->
